
.SideContentWrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.ambulanceImage {
  width: 70%;
  margin: auto;
}
.sideData {
  font-size: 18px;
  line-height: 23px;
  margin-left: 40px;
  font-weight: normal;
  text-align: left;
  position: absolute;
  top: 80%;
  right: 0;
}

@media screen and (max-width: 640px) {
  .sideData {
    position: relative;
    font-size: 14px;
    text-align: center;
    padding: 5px;
    text-align: left;
  }
}
