.table {
  width: 90%;
  margin: 40px auto;
}
table,
th,
td {
  border-collapse: collapse;
}
tr:nth-child(odd) {
  background-color: #d3d9e0;
}
tr:nth-child(even) {
  background-color: #fdfdfd;
}
th {
  background-color: #f59494;
  color: #000000;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 2px;
  font-weight: normal;
}
td {
  text-align: center;
  color: #000000;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 2px;
  font-weight: normal;
}
tr:nth-child(even) > td:nth-child(even) {
  background-color: #edf2f7;
}
